<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<HTML>
   <HEAD>
      <TITLE>
         Jim Hagan's Professional Index
      </TITLE>
   </HEAD>
<BODY>
   <H3>About Me...</H3>
   <P>I am an experienced software engineer with nearly twenty years coding experience.  I got my 
      start working on image processing and GIS software back in the mid 90's at <a href="http://www.clarklabs.org/">Clark Labs</a>.  For over ten years I was a principal developer in the <a href="http://www.tomtom.com">TomTom</a> map production unit.
      For the past two years I have been a principal engineer at <a href="www.locately.com">Locately</a>, a Boston startup using mobile location tracking technology to generate powerful market research insights.  I'm thoroughly enjoying the world developing scalable web applications with Python, Django, and AWS.
   </P>
    <a href="http://www.linkedin.com/in/jimhagan">Find me on LinkedIn</a></br>
    <a href="https://github.com/JimHagan">Check out my GitHub</a>
</br>
<H4> Patents </H4>
<a href="http://v3.espacenet.com/publicationDetails/biblio?DB=EPODOC&adjacent=true&locale=en_EP&FT=D&date=20100617&CC=WO&NR=2010068185A1&KC=A1"> WO2010068185 (A1): Geodetic Reference Database </a>
</br><a href="http://www.freshpatents.com/-dt20110203ptan20110026772.php">US20110026772: Selective Compression Masks </a>
</br><a href="http://patentscope.wipo.int/search/en/detail.jsf?docId=WO2011155935&recNum=6&docAn=US2010038093&queryString=rfid&maxRec=16622">WO2011155935: Tracking and Analyzing a Trip</a>
</br><a href="http://patentscope.wipo.int/search/en/detail.jsf?docId=WO2006023290&recNum=1&docAn=US2005027809&queryString=FP:(Hagan%20Witmer)&maxRec=1">WO2006023290: Automatic Georeferencing of Digital Maps</a>
</br><a href="http://patentscope.wipo.int/search/en/detail.jsf?docId=WO2011053388&recNum=1&docAn=US2010035506&queryString=FP:(Hagan%20Witmer)&maxRec=1">WO2011053388: Tempporal Slicing of GPS Trace Datasets</a>
</br><a href="https://www.google.com/patents/WO2011127226A1?cl=en&dq=WO2011127226A1&hl=en&sa=X&ei=ILxaUoetIc-24AOIl4CwCQ&ved=0CDkQ6AEwAA">WO2011127226A1: Location Referencing Algorithm</a>
</BODY>
</HTML>
